<%= stylesheet_link_tag "index" %>

<div class="sticky-bar">
    <h1 class="sticky-bar-item-left"> Amazing Blogs</h1>
    <%# link_to "Create a New Article!", new_article_path %>
    <%# <h1 class="sticky-bar-item-center">Amazing Blogs</h1> %>
    <a href="<%= new_article_path %>" class="sticky-bar-item-right" >
        Post Article ✍🏼
    </a>
</div>

<div class="card-canvas">
    <% @articles.each do |article| %>
        <% unless article.archived? %>
            <a href="/articles/<%=article.id%>" class="card card-link">
                <div class="card-content">
                    <h1 class="card-title "> <%=article.title%><%# link_to article.title, article %> </h1>
                    <p class="card-text "><%= article.description %></p>
                    <img class="card-img" src="<%= image_url("image.jpg")%>" />
                </div>
            </a>
        <% end %>
    <% end %>
</div>