<%= stylesheet_link_tag "show" %>

<div class="img-top-container">
  <img src="<%= image_url("image.jpg")%>">
</div>


<div class="content-canvas">
<div class="content">
  <h1><%= @article.title %></h1> 

  <h4><%= @article.description %></h4>

  <p> <%= @article.content%> </p>


  <%= link_to "Edit this", edit_article_path(@article) %>
  <%= link_to "Destroy", article_path(@article), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } 
  %>
  <%= link_to "Go Home" , "/" %>


  <h2>Comments Section</h2>
  <%= render @article.comments %>

  <p>Post comment</p>
  <%= render 'comments/form' %>
</div>
</div>
